
/*vars*/

:root {
    --text-color: #4F5665;
    --font-dark-color: #0B132A;
    --red-color: #F53838;
    --grey-200-color: #EEEFF2;
    --grey-300-color: #FFECEC;
    --margin-b: 20px;
    --font-size-16: 16px;
}

* {
    box-sizing: border-box;
}

.html, body {
    font-family: "Rubik", sans-serif;
    background: #FFFFFF;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
    
.h2, p {
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    background: #F8F8F8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
    max-width: 100%;
    
}
.header__logo {
    display: flex;
    align-items: center;
    width: 149px;
    height: 36.23px;
}
.header__logo img {
    display: block;
    width: 100%;
    margin: 0;
}

.header__menu {
    margin-top: -6px;
    

}

.menu-body {
    display: flex;
    align-items: center;
}
.menu__list {
    list-style-type: none;
}

.menu__list li {
    display: inline-block;
    font-size: var(--font-size-16);
    margin: 0 10px;
}

.menu__list li a {
    display: block;
    text-decoration: none;
}
.menu__link {
    color: var(--text-color);
    font-size: var(--font-size-16);
}

.menu__text{
    margin-right: 30px;
}

.buttons {
    display: flex;
}


.button {
    width: 150px;
    text-decoration: none;
    color: var(--font-dark-color);
    font-weight: 500;
    padding: 15px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.button__primary {
    text-decoration: none;
    color: var(--red-color);
    font-size: var(--font-size-16);
    border: 1px solid var(--red-color);
    border-radius: 50px;
    
}

.statistic-content__container {
    padding-top: 650px;
    padding: 0px 150px;
    width: auto;    
}
.statistic {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 37px 90px;
    margin-bottom: 95px;
    max-width: 100%;
    position: relative;
}
.statistic__item {
    display: flex;
    flex-grow: 1;
    flex-basis: 33.33%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

}
.statistic__image {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--grey-300-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 36px;
    color: var(--red-color);
    flex-basis: 55px;
    flex-shrink: 0;
}

.statistic__image img {
    width: 24px;
    height: auto;
    margin-bottom: 0;
}
.statistic__image svg {
    width: 24px;
    height: auto;
}

.statistic__num {
    font-weight: 700;
    color: var(--font-dark-color);
    font-size: 25px;
    display: block;
}

.statistic__content {
    flex-grow: 1;
}
.statistic__num {
    font-weight: 700;
    color: var(--font-dark-color);
    font-size: 25px;
    display: block;

}
.statistic__name {
    color: var(--text-color);
    font-size: 20px;
    display: block;
}
.info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
.info__content {
    max-width: 430px;
}

.info__image {
    max-width: 508px;
}

.info__image img {
    width: 100%;
    margin-bottom: 0;
}




.info__title {
    text-align: left;
}

.text {
    font-size: var(--font-size-16);
    color: var(--text-color);
    margin-bottom: var(--margin-b);
}
.info__text {
}
.info__list {
}
.info__list-item {
    font-size: 14px;
    color: var(--text-color);
    position: relative;
    padding-left: 40px;
}

.info__list-item:not(:last-child) {
    margin-bottom: var(--margin-b);
}

.info__list-item::before {
    position: absolute;
    content: '';
    left: 0;
    top: -3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: url("../img/Check.png");
    background-size: contain;
    background-position: center;
}


.footer {
    padding: 0 150px 40px;
    margin-top: 100px;

}
.footer-container {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-between;
    max-width: 100%;
    background: #F8F8F8;
}
.left-footer {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}
.footer-logo {
    margin-bottom: 20px;
}
.logo {
    display: block;
}
.left-footer__text {
    margin-bottom: 30px;
}
.footer-social {
    margin-bottom: 30px;


}
.social {
    display: flex;
    flex-wrap: nowrap;
}
.social__link {
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social__link img {
    display: block;
    width: 24px;
    height: 24px;
}

.social__link:not(:last-child) {
    margin-right: 10px;
}

.social__link, a{
    text-decoration: none;
}
.footer-copyrights {
}
.footer-copyrights__text {
    color: #AFB5C0;
}

.right-footer {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    justify-content: flex-end;
}

.menu-footer__column {
    text-decoration: none;
    color: var(--text-color);
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 33.33%;
    box-sizing: border-box;
}

.menu-footer__column, li, a{

}

.menu-footer__column a {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 20px;

}

.menu-footer__column:not(:last-child) {
    padding-right: 30px;
}

.menu-footer__column, li:last-child{
    margin-bottom: 0px;

}

.footer__title {
    display: block;
    white-space: nowrap;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 30px;
}


@media screen and (max-width: 1440px) {

    .wrapper {
        max-width: 1200px;
    }

    .statistic {
        padding: 30px 15px;
    }

    .statistic__item:not(:last-child) {
        margin-right: 0;
    }

    .statistic__item {
        justify-content: center;
    }

    .statistic__content {
        flex-grow: 0;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper{
        max-width: 970px;
    }
    .statistic__num {
        font-size: 20px;
    }
    
    .statistic__name {
        font-size: 16px;
    }

    .statistic__image {
        width: 40px;
        height: 40px;
        flex-basis: 40px;
        margin-right: 20px;
    }
    
}

@media screen and (max-width: 768px) {
.nav {
        display: flex;
        justify-content: center;
    }
    .statistic {
        align-items: flex-start;
        flex-direction: column;
        box-shadow: none;
        border: none;
        justify-content: left;
        padding: 5px 5px 5px 5px;
        background: #F6F6F6;
        margin-bottom: 40px;
        max-width: 100%;
        
    }

    .statistic__item {
        flex-basis: 100%;
        justify-content: flex-start;
        padding: 10px;
        border-radius: 5px;
        width: 100%;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    }
    
    .statistic__item:not(:last-child) {
        border: none;
        margin-bottom: 20px;
    }

    .info {
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
    }

    .info__image {
        max-width: 508px;
        padding-bottom: 50px;
    }

}

@media screen and (max-width: 576px) {
    
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Regular.woff2') format('woff2'),
        url('/fonts/Rubik-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Medium.woff2') format('woff2'),
        url('/fonts/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Bold.woff2') format('woff2'),
        url('/fonts/Rubik-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Light.woff2') format('woff2'),
        url('/fonts/Rubik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

