@import '_variables';
@import '_breakpoints';

*::before,
*::after {
	box-sizing: inherit;
}

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	min-width: 320px;
	font-family: $font-family;
	font-weight: $font-weight;
	font-size: $font-size;
	line-height: $line-height;
	background-color: $background-primary;
}

.main {
	max-width: 1440px;
	margin: 0 auto;
}

.h2 {
	font-weight: 500;
	font-size: 35px;
	margin-bottom: $margin-b;
	text-align: center;
	color: $font-dark-color;
}

.text {
	font-size: 16px;
	color: $text-color;
	margin-bottom: $margin-b;
}




.content {
	max-width: 1440px;
	padding: 0 150px;
	margin: 0 auto;

	@include desktop {
		padding: 0 50px;
		margin: 0 auto;
	}
	@include tablet {
		padding: 0 20px;
		margin: 0 auto;
	}
}

ul,
ol {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
}

p {
	margin-top: 0;
}

button {
	border: none;
	background: none;
}

button:not([disabled]),
a[role='button']:not([disabled]) {
	cursor: pointer;
}

fieldset {
	margin: 0;
	border: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

svg {
	width: inherit;
	height: inherit;
	fill: currentColor;
}

[data-scrollspy] {
	opacity: 0;
}
