@mixin desktop {
	@media (max-width: (1440px)) {
		@content;
	}
}

@mixin tablet-large {
	@media (max-width: (1024px)) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: (768px)) {
		@content;
	}
}
