// Fonts
$font-family: 'Rubik', Arial, sans-serif;
$font-weight: 400;
$font-size: 16px;
$line-height: 1.3;

// Colors
$text-color: #4f5665;
$font-dark-color: #0b132a;
$red-color: #f53838;

$grey-200-color: #eeeff2;
$grey-300-color: #ffecec;

// Margin
$margin-b: 20px;

// Background
$background-primary: #fff;
