// Fonts
$font-family: "Rubik", Arial, sans-serif;
$font-weight: 400;
$font-size: 16px; 
$line-height: 1.3;

// Colors
$text-color: #4F5665;
$font-dark-color: #0B132A;
$red-color: #F53838;

$grey-200-color: #EEEFF2;
$grey-300-color: #FFECEC;

// Margin
$margin-b: 20px;

// Background
$background-primary: #fff;