.header {
	display: flex;
	justify-content: center;
	background-color: $background-primary;
	align-items: center;
	padding: 0px 50px;
	padding-top: 30px;
	max-width: 1440px;
	overflow: hidden;
	margin: 0 auto;

	&__tablet {
		display: none;
		margin: 0;
		padding: 0;
	}

	&__body {
		display: flex;
		justify-content: space-between;
        padding-right: 180px;
	}

	@include desktop {
		// padding: 0 150px;
		padding-top: 30px;
	}

	@include tablet {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		padding: 24px;
		justify-content: space-between;

		&__tablet {
			display: none;
			margin: 0;
			padding: 0;

			@include tablet {
				z-index: 5;
				display: block;
				position: relative;
				width: 30px;
				height: 18px;
				cursor: pointer;

				span,
				&::before,
				&::after {
					left: 0;
					position: absolute;
					height: 10%;
					width: 100%;
					transition: all 0.3s ease 0s;
					background-color: #f53838;
				}
				&::before,
				&::after {
					content: '';
				}
				&::before {
					top: 0;
				}
				&::after {
					bottom: 0;
				}
				span {
					top: 50%;
					transform: scale(1) translate(0px, -50%);
				}
				&._active span {
					transform: scale(0) translate(0px, -50%);
				}
				&._active::before {
					top: 50%;
					transform: rotate(-45deg) translate(0px, -50%);
				}

				&._active::after {
					bottom: 50%;
					transform: rotate(45deg) translate(0px, 50%);
				}
			}
		}
		&__logo a  {
			display: block;
			height: auto;
			max-width: 100%;
			width: 149px;
			height: 36px;
            left: 0;

			img {
                
			}
			@include tablet {
				z-index: 5;
				left: 0;
				top: 0;

				img {
                 
				}
			}
		}

		&__body {
			margin-top: 0px;
			display: flex;
			justify-content: space-evenly;

			@include tablet {
				display: flex;
				flex-direction: column;
				margin-top: 0;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				transform: translate(-100%, 0px);
				background-color: #fff;
				padding: 100px 30px 30px 30px;
				transition: left 0.3s ease 0s;
				&._active {
					transform: translate(0px, 0px);
				}

				&::before {
					content: '';
					position: fixed;
					width: 100%;
					height: 70px;
					top: 0;
					left: 0;
					background-color: #fff;
					z-index: 2;
				}
			}
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		font-size: $font-size;
		margin-right: 40px;
		color: $text-color;
		list-style-type: none;
		padding-top: 20px;
		flex-direction: row;

		@include tablet {
			left: 0;
			flex-direction: column;

			li {
				display: flex;
				align-items: center;

				&:last-child {
					margin-bottom: 0px;
				}
			}
		}

		li {
			a {
				display: block;
				text-decoration: none;
			}
		}
	}
	&__link {
		display: inline-block;
		margin-right: 40px;
		&:last-child {
			margin-right: 0px;
		}
		@include desktop {
			display: flex;
			margin-right: 15px;
			&:last-child {
				margin-right: 0px;
			}
		}
		@include tablet {
			display: inline-block;
			font-size: 34px;
			line-height: 2.5;
		}
	}

	&__buttons {
        position: absolute;
        right: 0;
		display: inline-block;
        padding: 0;
        right: 0;
		@include tablet {
            position: absolute;
            right: 0;
			margin-top: auto;
			font-size: 20px;
			display: inline-block;
			vertical-align: middle;
			cursor: pointer;
			font-weight: 500;
            right: 0px;
		}
	}

	&__button {
        
		width: 150px;
		padding-top: 0px;
		padding: 15px;
		text-decoration: none;
		color: $font-dark-color;
		font-weight: 500;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
        right: 0px;
		&:hover {
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			transition: 500ms ease;
		}
	}

	&__button {
        
		&.button-primary {
            
			text-decoration: none;
			color: $red-color;
			font-size: 16px;
			font-weight: 500;
			line-height: 19px;
			border: 1px solid $red-color;
			border-radius: 50px;
			cursor: pointer;

			&:hover {
				text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				transition: 500ms ease;
			}
			@include tablet {
				font-weight: 500;
			}
		}
	}
}
