/*info__block*/

.info {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-end;
	max-width: 1140px;
	flex: 1 0 auto;

	@include tablet {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__image {
		max-width: 508px;
		img {
			width: 100%;
			margin-bottom: 0;
		}
	}

	&__content {
		max-width: 430px;
	}
	&__title {
		text-align: left;
		margin-bottom: 20px;
		font-size: 35px;
		line-height: 50px;
		@include tablet {
			text-align: center;
		}
	}

	&__text {
		font-size: 16px;
		margin-bottom: 20px;
		line-height: 30px;
	}

	&__list#info__items {
	}
	&__item {
		font-size: 14px;
		color: #4f5665;
		position: relative;
		padding-left: 40px;

		&::before {
			position: absolute;
			content: '';
			left: 0;
			top: -3px;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background-image: url('../../img/check.png');
			background-size: contain;
			background-position: center;
		}
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
}
