.intro {
	max-width: 1140px;
	background-color: $background-primary;
	@include tablet {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		line-height: 10px;
		padding: 10px 10px;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		margin-top: 127px;
		@include tablet {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			line-height: 10px;
			padding: 10px 10px;
		}
	}
	&__image {
		display: block;
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: 50%;
		justify-content: flex-end;
		max-width: 611px;
		max-height: 382px;
	}
}
.inner {
	&__title {
		line-height: 70px;
		margin-bottom: 20px;
	}
	&__subtitle {
		font-size: 16px;
		line-height: 30px;
		font-weight: 700;
		margin-bottom: 50px;
	}
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 250px;
		height: 60px;
		background-color: $red-color;
		border-radius: 10px;
		margin-bottom: 150px;
		&:hover {
			box-shadow: 0px 15px 20px rgba(245, 56, 56, 0.35);
			transition-delay: 0.25s;
			border-radius: 10px;
		}
	}
	&__button {
		color: #ffff;
	}
}
