.banner__container
    .banner
        .banner__text
            h2.banner__title 
                span Subscribe Now for Get Special Features!
            .banner__subtitle
                span Let's subscribe with us and find the fun.
        .banner__button 
            a.banner__btn(href="#")
                span Subscribe Now