include mixins.pug

.intro
    .intro__container
        .intro__inner
            h1.inner__title Want anything to be easy with LaslesVPN.
            h3.inner__subtitle Provide a network for all your needs with ease and fun using LaslesVPN discover interesting features from us.
            .inner__btn
                a.inner__button(href="#")
                    span Get Started
        .intro__image 
            img( src="./img/svg/illustration.svg" alt="user-intro")