include mixins.pug 

.map 
    .map__container 
        .map__title 
            h3.span Huge Global Network of Fast VPN
        .map__subtitle 
            span See LaslesVPN everywhere to make it easier for you when you move locations.
        .map__image 
            img(src="./img/svg/Global-map.svg", alt="map")
        .map__logos 
            img(src="./img/svg/items/netflix.svg", alt="netflix", class="logo__list")
            img(src="./img/svg/items/reddit.svg", alt="reddit", class="logo__list")
            img(src="./img/svg/items/amazon.svg", alt="amazon", class="logo__list")
            img(src="./img/svg/items/discord.svg", alt="discord", class="logo__list")
            img(src="./img/svg/items/spotify.svg", alt="spotify", class="logo__list")
